/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Body */
body{
    background-color: azure;
}
/* Navbar */
nav{
    display: flex;
    background: orange;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}
.logo img{
    width: 120px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}
.navbar{
    display: flex;
    align-items: center;
    gap: 20px;
}
.navbar ul{
    display: flex;
    list-style: none;
    gap: 20px;
}
.navbar ul li{
    margin: 0;
}
.navbar ul li a{
    text-decoration: none;
    color: black;
}
button{
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
    background-color: black;
    color: orange;
}