/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Body */
body{
    background-color: azure;
}
/* Navbar */
.logo img{
    width: 120px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}